alias ansplay=ansible-playbook
alias k8s=kubectl
alias tf=terraform
alias mph=map_hosts.py
alias mkenv=". workspace/bin/activate"
alias sshmap="ssh map.cloudops.net"

alias aws-twr-stg='aws --profile twr-stg'
alias twr-prod-1a='kubectl --kubeconfig ~/.kube/twr-prod-1a'
alias twr-prod-com='kubectl --kubeconfig ~/.kube/twr-prod-com'
alias twr-stg-com='kubectl --kubeconfig ~/.kube/twr-stg-com'
alias twr-stg-1a='kubectl --kubeconfig ~/.kube/twr-stg-1a'
alias twr-stg-1d='kubectl --kubeconfig ~/.kube/twr-stg-1d'
alias twr-stg-2d='kubectl --kubeconfig ~/.kube/twr-stg-2d'
alias twr-qacn-1b='kubectl --kubeconfig ~/.kube/twr-qacn-1b'
alias twr-qacn-2b='kubectl --kubeconfig ~/.kube/twr-qacn-2b'

alias cloudmc-dev='kubectl config use-context cloudmc-dev'
alias cloudmc-prod='kubectl config use-context cloudmc-prod'
alias cloudops-prod='kubectl config use-context cloudops-prod'
alias cloudops-dev='kubectl config use-context cloudops-dev'

alias forti='. /etc/init.d/forti.sh'
